@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Geographic
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Geographic.StateProvinceModel

@{
    var country = (CountryVM)ViewBag.Country;
}
<div class="float-right mb-3">
    <button type="button" id="CreateStateProvinceButton" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#CreateStateProvinceModal">Create State Province</button>
</div>

<div class="modal fade" id="CreateStateProvinceModal" aria-hidden="true" aria-labelledby="CreateStateProvinceButton" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create State Province</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form  asp-action="CreateStateProvince" asp-route-id="@country.Id" id="CreateStateProvinceForm" >
            
                @Html.AntiForgeryToken()
                 @Html.HiddenFor(x=> x.CountryId)

                <div class="modal-body">

                    <div class="form-group row mb-3">
                        <div class="col-md-3 float-sm-left float-md-right">
                            <micro-label asp-for="@Model.Name"></micro-label>
                        </div>

                        <div class="col-md-9">
                            <input asp-for="@Model.Name" type="text" id="CreateState_Name" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-md-3 float-sm-left float-md-right">
                            <micro-label asp-for="@Model.Abbreviation"></micro-label>
                        </div>

                        <div class="col-md-9">
                            <input asp-for="@Model.Abbreviation" type="text" id="CreateState_Abbreviation" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Abbreviation"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
