@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Geographic
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Geographic.StateProvinceModel
@{
    var country = (CountryVM)ViewBag.Country;

}
<div class="modal fade" id="UpdateStateProvinceModal"  aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update State Province</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form asp-action="UpdateStateProvince" asp-route-id="@country.Id" id="UpdateStateProvinceForm">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x=> x.Id, new {id ="EditState_Id"})
                @Html.HiddenFor(x=> x.CountryId)
                <div class="modal-body">

                    <div class="form-group row mb-3">
                        <div class="col-md-3 float-sm-left float-md-right">
                            <micro-label asp-for="@Model.Name"></micro-label>
                        </div>

                        <div class="col-md-9">
                            <input asp-for="@Model.Name" type="text" id="EditState_Name" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Name"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-md-3 float-sm-left float-md-right">
                            <micro-label asp-for="@Model.Abbreviation"></micro-label>
                        </div>

                        <div class="col-md-9">
                            <input asp-for="@Model.Abbreviation" id="EditState_Abbreviation" type="text" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.Abbreviation"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" >Update</button>
                </div>
            </form>
        </div>
    </div>
</div>