@using MicroStore.Client.PublicWeb.Bundling
@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Components.LayoutHook;
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Bundling
@using Volo.Abp.AspNetCore.Mvc.UI.Theming;
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetScripts;
@using Volo.Abp.AspNetCore.Mvc.UI.Widgets.Components.WidgetStyles;
<!DOCTYPE html>
<html lang="en">
<head>
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.First, StandardLayouts.Application)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MicroStore.Client.PublicWeb</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback" />
    <abp-style-bundle name="@StandardBundles.Styles.Global" />
    <abp-style-bundle name="@ApplicationStandardBundles.Styles.Global" />

    @await Component.InvokeAsync(typeof(WidgetStylesViewComponent))

    @RenderSection("Styles", required: false)
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Head.Last, StandardLayouts.Application)
</head>

<body class="hold-transition skin-blue sidebar-mini">
    @await Component.InvokeLayoutHookAsync(LayoutHooks.Body.First, StandardLayouts.Application)
    <div class="wrapper">
        @{
            await Html.RenderPartialAsync("_Header");
        }



        @await Component.InvokeAsync("Sidebar");

        @await Component.InvokeLayoutHookAsync(LayoutHooks.PageContent.First, StandardLayouts.Application)
        @RenderBody()
        @await Component.InvokeLayoutHookAsync(LayoutHooks.PageContent.Last, StandardLayouts.Application)
    </div>

    <abp-script-bundle name="@StandardBundles.Styles.Global" />
    <abp-style-bundle name="@ApplicationStandardBundles.Scripts.Global" />
    <script src="~/Abp/ApplicationConfigurationScript"></script>
    @await Component.InvokeAsync(typeof(WidgetScriptsViewComponent))

    @await RenderSectionAsync("Scripts", required: false)

    @{
        await Html.RenderPartialAsync("_NotificationView");
    }

    <script>
        $(document).ready(function () {
            $("#btn-logout").click(function () {
                $("#logout-form").submit();
            })
        })
    </script>

    <zone name="Footer"></zone>
</body>

</html>
