@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Cart
@using System.Globalization;
@model CheckoutModel
@{
    var basket = (BasketAggregate)ViewBag.Basket;
    var totalProducts = basket.Items.Sum(x => x.Quantity);
    var subTotal = basket.Items.Sum(x => x.Quantity * x.Price);
    var totalPrice = subTotal;
    var availablePaymentMethods = (List<SelectListItem>)ViewBag.PaymentMethods;
}

<div class="checkout-details">
    <div class="order-box">
        <ul class="sub-total">
            <li>Total Products <span class="count">@totalProducts</span></li>
        </ul>
        <ul class="sub-total">
            <li>Subtotal <span class="count">@subTotal.ToString("C", new CultureInfo("en-US"))</span></li>
        </ul>
        <ul class="total">
            <li>Total <span class="count">@totalPrice.ToString("C", new CultureInfo("en-US"))</span></li>
        </ul>
    </div>
    <div class="payment-box">
        <div class="upper-box">
            <div class="payment-options">
                <ul>
                    <li>
                        @foreach (var paymentMethod in availablePaymentMethods)
                        {
                            <div class="radio-option">
                                <input type="radio" asp-for="@Model.PaymentMethod" id="@paymentMethod.Value" value="@paymentMethod.Value">
                                <label for="@paymentMethod.Value">@paymentMethod.Text</label>
                            </div>
                        }

                    </li>
                </ul>
            </div>
        </div>
        <div class="text-end"><input type="submit" class="btn-solid btn" value="Place Order" /></div>
    </div>
</div>