@page "{paymentRequestId}"
@model MicroStore.Client.PublicWeb.Areas.Administration.Pages.Payments.DetailModel
<div class="content-wrapper mr-2">
    <div class="content-header clearfix p-3">
        <div class=" float-left">
            <h1 class="text-xl">View payment request details - 3</h1>
        </div>
        <div class="float-right ml-3">
            <a class="btn btn-info text-lg ml-3">
                <i class="fas
                                fa-plus-square mr-1"></i> Save
            </a>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">

            <div class="cards clearfix">
                <div class="card ">

                    <div class="card-body ">
                        <div class="card card-light mb-3 shadow">
                            <div class="card-header border-0">
                                <h1 class="card-title text-md
                                                text-lg">
                                    Payment Request Info
                                </h1>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus text-lg"></i>

                                    </button>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.Id" />
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top: 2px">
                                            @Model.PaymentRequest.Id
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.OrderId" />
                                       
                                           
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top: 2px">
                                            @Model.PaymentRequest.OrderId
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.OrderNumber" />
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top: 2px">
                                            @Model.PaymentRequest.OrderNumber
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.UserName" />
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top:  2px">
                                            @Model.PaymentRequest.UserName
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.TransctionId" />
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top: 2px">
                                            @Model.PaymentRequest.TransctionId
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.PaymentGateway" />

                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top: 2px">
                                            @Model.PaymentRequest.PaymentGateway
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.Status" />
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top: 2px">
                                            @Model.PaymentRequest.Status
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3 clearfix">
                                        <div class="float-right">
                                            <micro-label asp-for="@Model.PaymentRequest.Description" />
                          
                                        </div>

                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-text text-lg" style="padding-top: 2px">
                                            @Model.PaymentRequest.Description
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card card-light shadow mt-3">
                    <div class="card-header border-0">
                        <h1 class="card-title text-md
                                                text-lg font-weight-bold">
                            Payment Items
                        </h1>
                        <div class="card-tools">
                            <button type="button" class="btn  btn-tool" data-card-widget="collapse">                                                                                
                                <i class="fas fa-minus text-lg"></i>
                                                        
                            </button>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(x=> x.PaymentRequest.Items.First().Image)</th>
                                    <th>@Html.DisplayNameFor(x=> x.PaymentRequest.Items.First().ProductId)</th>
                                    <th>@Html.DisplayNameFor(x=> x.PaymentRequest.Items.First().Name)</th>
                                    <th>@Html.DisplayNameFor(x=> x.PaymentRequest.Items.First().Sku)</th>
                                    <th>@Html.DisplayNameFor(x=> x.PaymentRequest.Items.First().Quantity)</th>
                                    <th>@Html.DisplayNameFor(x=> x.PaymentRequest.Items.First().UnitPrice)</th>
                                </tr>
                            </thead>>
                            <tbody>
                                @foreach(var item in Model.PaymentRequest.Items)
                                {
                                    <tr>
                                        <td>@item.Image</td>
                                        <td>@item.ProductId</td>
                                        <td>@item.Sku</td>
                                        <td>@item.Quantity</td>
                                        <td>$@item.UnitPrice</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

