@model MicroStore.IdentityProvider.Host.Areas.BackEnd.Models.ApiScopes.ApiScopeUIModel
@{
    ViewData["Title"] = "Edit ApiScope /Backend";
    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.ApiScopeMenus.Edit);
}
<div class="content-wrapper mr-2">
    @Html.AntiForgeryToken()
    <div class="content-header">
        <div class="container-fluid">
            <abp-row class="mb-2">
                <abp-column size-sm=_6>
                     <h1 class="m-0">Edit Api Scope @Model.Name</h1>
                </abp-column>
                <abp-column size-sm="_6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <abp-button button-type="Info" id="SaveButton">
                                <i class="fas
                                fa-plus-square mr-1"></i> Save
                            </abp-button>
                        </li>
                    </ol>
                </abp-column>
            </abp-row>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <form asp-action="Edit" id="ApiScopeForm">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x=> x.Id)
                <div class="text-center mb-3">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                </div>
                <partial name="_CreateOrUpdate.Info" model="Model" />
                <partial name="IdentityServer/Grids/_Grids.Property" />

            </form>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/js/backend/grids/propertygrid.js"> </script>
<script>
    $(document).ready(function(){
        $("#SaveButton").on('click',function(){
            $("#ApiScopeForm").submit();
        });

        propertyGrid.init({
            parentId : "@(Model.Id)",
            listAction:{
                url : '@Url.Action("ListApiScopeProperties", new {id = @Model.Id})',
                type:"POST"
            },
            deleteAction:{
                url : '@Url.Action("DeleteProperty")',
                type : "POST"
            },

            createModal :{
                viewUrl : '@Url.Action("CreatePropertyModal")'
            },

            editModal:{
                viewUrl : '@Url.Action("EditPropertyModal")'
            }

        });

        $("#CreateApiSecretButton").on('click',function(){
            console.log("clicked");
        })
    })
</script>


}