@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Shipments.ShipmentAggregateVM
@{
    List<string> subStrings = new List<string>();

    for (int i = 0; i < Model.OrderNumber.Length; i = i + 3)
    {
        if (i % 3 == 0)
        {
            subStrings.Add(Model.OrderNumber.Substring(i, 3));
        }

    }

    var formatedOrderNumber = subStrings.JoinAsString(" ");
}

<abp-card>
    <abp-card-header>
        <abp-card-title class="text-lg">
            <i class="fas fa-info mr-1 text-lightblue"></i> Shipment Info
        </abp-card-title>
        <div class="card-tools">
            <abp-button class="btn-tool" data-card-widget="collapse">  <i class="fas fa-minus text-lg"></i></abp-button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Id"  />
                </div>
            </abp-column>
            <abp-column>
                <div >
                    @Model.Id
                </div>
            </abp-column>
        </abp-row>

        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.OrderNumber"  />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    <a asp-action="Details" asp-controller="Order" asp-route-id=@Model.OrderId> @formatedOrderNumber</a>
                </div>
            </abp-column>
        </abp-row>

        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.UserId"  />
                </div>
            </abp-column>
            <abp-column>
                <div >
                    @Model.UserId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.SystemName" />
                </div>
            </abp-column>
            <abp-column>
                <div >
                    @Model.SystemName
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Status"  />
                </div>
            </abp-column>
            <abp-column>
                <div >
                    @Model.Status
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.ShipmentExternalId"  />
                </div>
            </abp-column>
            <abp-column>
                <div>
                    @Model.ShipmentExternalId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.ShipmentLabelExternalId"  />
                </div>
            </abp-column>
            <abp-column>
                <div >
                    @Model.ShipmentLabelExternalId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.TrackingNumber" />
                </div>
            </abp-column>
            <abp-column>
                <div >
                    @Model.TrackingNumber
                </div>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>
