@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Shipments.ShipmentAggregateVM
<abp-card>
    <abp-card-header>
        <abp-card-title class="text-lg">
            <i class="fas fa-info mr-1 text-lightblue"></i> Shipment Info
        </abp-card-title>
        <div class="card-tools">
            <abp-button class="btn-tool" data-card-widget="collapse">  <i class="fas fa-minus text-lg"></i></abp-button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Id" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    @Model.Id
                </div>
            </abp-column>
        </abp-row>

        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.OrderId" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                   <a asp-action="Details" asp-controller="Order" asp-route-id=@Model.OrderId> @Model.OrderId</a>
                </div>
            </abp-column>
        </abp-row>

        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.UserId" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    @Model.UserId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.SystemName" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    @Model.SystemName
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Status" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    @Model.Status
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.ShipmentExternalId" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    @Model.ShipmentExternalId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.ShipmentLabelExternalId" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    @Model.ShipmentLabelExternalId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.TrackingNumber" text-size=Lg />
                </div>
            </abp-column>
            <abp-column>
                <div class="text-lg">
                    @Model.TrackingNumber
                </div>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>
