@using MicroStore.Client.PublicWeb.Areas.Administration.Components
@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Ordering;
@using MicroStore.Client.PublicWeb.Areas.Administration.Navigation
@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Shipping;
@model MicroStore.Client.PublicWeb.Areas.Administration.Controllers.PurshaseLabelModel

@{

    var shipment = (Shipment)ViewBag.Shipment;

    var shipmentRates = ViewBag.ShipmentRates as List<ShipmentRate>;

    UIMenuNavigationManager.SetCurrentMenu(BackEndMenusStandard.ShipmentMenus.Label);

}

<div class="content-wrapper mr-2">
    <!-- Content Header (Page header) -->
    <form method="post" asp-action="PurshaseLabel">
        @Html.AntiForgeryToken()
        <div class="content-header">
            <div class="container-fluid">
                <abp-row class="mb-2">
                    <abp-column size=_6>
                        <h1 class="m-0">Purshase shipment label </h1>
                    </abp-column>
                    <abp-column size-sm=_6>
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <button class="btn btn-info" type="submit">
                                    <i class="fas
                                fa-plus-square mr-1"></i> Purshase
                                </button>
                            </li>
                        </ol>
                    </abp-column>
                </abp-row>
            </div>
        </div>
        <div class="content">
            <div class="container-fluid">
                <abp-row >
                    <abp-column size-md=_6>
                        <abp-card>
                            <abp-card-header>
                                <abp-card-title class="text-lg">
                                    <i class="fas fa-info mr-1 text-lightblue"></i> Shipment Rate
                                </abp-card-title>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus text-lg"></i>
                                    </button>
                                </div>
                            </abp-card-header>
                            <abp-card-body>
                                <div class="text-center mb-3">
                                    @Html.ValidationSummary()
                                </div>
                                <div class="form-group ">
                                    <div class="overflow-hidden">
                                        @if (shipmentRates != null)
                                        {
                                            <div class="list-group clearfix overflow-auto "
                                             style="max-height : 400px">


                                                @foreach (var rate in shipmentRates)
                                                {
                                                    <div class="list-group-item list-group-item-action" data-id="@rate.Id">
                                                        <div class="d-flex w-100 justify-content-between">
                                                            <h5 class="mb-1">@rate.ServiceLevel.Name</h5>
                                                            <small>$@rate.Amount.Value</small>
                                                        </div>
                                                        <small>@rate.Days days</small>
                                                    </div>
                                                }

                                            </div>
                                        }

                                        <input type="hidden" id="shipmentrateid" asp-for="@Model.ShipmentRateId" />

                                        <span class="text-danger" asp-validation-for="@Model.ShipmentRateId">
                                        </span>
                                    </div>
                                </div>
                            </abp-card-body>
                        </abp-card>
                    </abp-column>

                    <abp-column size-md=_6>
                        @await Component.InvokeAsync(typeof(OrderSummaryViewComponent) , new {orderId = Guid.Parse(shipment.OrderId)})
                    </abp-column>
                </abp-row>
            </div>
        </div>
    </form>

</div>
@section Scripts{
<script>
    $(".list-group-item").on('click', function () {

        $(".list-group-item").removeClass("active");
        $(this).addClass("active");
        var shipmentrateId = $(this).attr("data-id");

        $("#shipmentrateid").val(shipmentrateId);
    })
</script>
}