@page
@model CheckoutModel
@{
}
<!-- Checkout Section Begin -->
<section class="checkout spad">
    <div class="container">

        <div class="checkout__form">
            <h4>Billing Details</h4>
            <form method="post">
               <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-8 col-md-6">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <div class="checkout__input form-group">
                                            <label asp-for="@Model.Input.BillingAddress.FirstName" class="form-label"></label>
                                            <input  asp-for="@Model.Input.BillingAddress.FirstName"  class="text-dark" />
                                            <span asp-validation-for="@Model.Input.BillingAddress.LastName" class="text-danager"></span>
                                        </div>
                                    

                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input form-group">
                                            <label asp-for="@Model.Input.BillingAddress.LastName" class="form-label"></label>
                                            <input asp-for="@Model.Input.BillingAddress.LastName" class="text-dark" />
                                            <span asp-validation-for="@Model.Input.BillingAddress.LastName" class="text-danager"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.Country" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.Country" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.Country" class="text-danager"></span>
                                </div>

                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.StateProvince" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.StateProvince" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.StateProvince" class="text-danager"></span>
                                </div>

                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.City" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.City" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.City" class="text-danager"></span>
                                </div>
                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.AddressLine1" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.AddressLine1"  type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.AddressLine1" class="text-danager"></span>
                                </div>
                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.AddressLine2" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.AddressLine2" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.AddressLine2" class="text-danager"></span>
                                </div>
                             
                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.PostalCode" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.PostalCode" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.PostalCode" class="text-danager"></span>
                                </div>

                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.ZipCode" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.ZipCode" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.ZipCode" class="text-danager"></span>
                                </div>


                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.BillingAddress.PhoneNumber" class="form-label"></label>
                                    <input asp-for="@Model.Input.BillingAddress.PhoneNumber" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.BillingAddress.PhoneNumber" class="text-danager"></span>
                                </div>

                                <div class="form-check">
                                    <input asp-for="@Model.Input.UseAnotherShippingAddress" class="form-check-input checkmark" type="checkbox" value="" id="different-adderess">
                                    <label class="form-check-label " asp-for="@Model.Input.UseAnotherShippingAddress">
                                        Ship to a different address
                                    </label>
                                </div>

                            </div>

                            <div class="col-lg-12 mt-3" id="shipping-address-form" style="display :  none;">
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <div class="checkout__input form-group">
                                            <label asp-for="@Model.Input.ShippingAddress.FirstName" class="form-label"></label>
                                            <input asp-for="@Model.Input.ShippingAddress.FirstName" class="text-dark" />
                                            <span asp-validation-for="@Model.Input.ShippingAddress.LastName" class="text-danager"></span>
                                        </div>


                                    </div>
                                    <div class="col-lg-6">
                                        <div class="checkout__input form-group">
                                            <label asp-for="@Model.Input.ShippingAddress.LastName" class="form-label"></label>
                                            <input asp-for="@Model.Input.ShippingAddress.LastName" class="text-dark" />
                                            <span asp-validation-for="@Model.Input.ShippingAddress.LastName" class="text-danager"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.Country" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.Country" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.Country" class="text-danager"></span>
                                </div>

                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.StateProvince" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.StateProvince" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.StateProvince" class="text-danager"></span>
                                </div>

                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.City" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.City" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.City" class="text-danager"></span>
                                </div>
                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.AddressLine1" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.AddressLine1" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.AddressLine1" class="text-danager"></span>
                                </div>
                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.AddressLine2" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.AddressLine2" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.AddressLine2" class="text-danager"></span>
                                </div>

                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.PostalCode" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.PostalCode" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.PostalCode" class="text-danager"></span>
                                </div>

                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.ZipCode" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.ZipCode" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.ZipCode" class="text-danager"></span>
                                </div>


                                <div class="checkout__input form-group">
                                    <label asp-for="@Model.Input.ShippingAddress.PhoneNumber" class="form-label"></label>
                                    <input asp-for="@Model.Input.ShippingAddress.PhoneNumber" type="text" class="text-dark" />
                                    <span asp-validation-for="@Model.Input.ShippingAddress.PhoneNumber" class="text-danager"></span>
                                </div>

   
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6">
                        <div class="checkout__order">
                            <h4>Your Order</h4>
                            <div class="checkout__order__products">Products <span>Total</span></div>
                            <ul>
                                <li>Vegetable’s Package <span>$75.99</span></li>
                                <li>Fresh Vegetable <span>$151.99</span></li>
                                <li>Organic Bananas <span>$53.99</span></li>
                            </ul>
                            <div class="checkout__order__subtotal">Subtotal <span>$750.99</span></div>
                            <div class="checkout__order__total">Total <span>$750.99</span></div>   
                            </div>

           
                        
                            <button type="submit" class="site-btn">PLACE ORDER</button>
                        </div>
                    </div>
             </form>
                      
        </div>
    </div>
</section>
<!-- Checkout Section End -->

@section Scripts{
    


    <script>
        $(document).ready(function(){
            $("#different-adderess").on('click', function () {
                $("#shipping-address-form").toggle();
            });

        })
    </script>



}