@page
@using MicroStore.Client.PublicWeb.Pages.FrontEnd;
@using System.Globalization;
@model HomeModel
@{
    ViewData["Title"] = "Home page";
}

@section Styles{
    <abp-style src="/Pages/FrontEnd/Index.css"></abp-style>
}


@section Scripts{
    <abp-script src="/Pages/FrontEnd/index.js"></abp-script>
}

<abp-row>
    @if(Model != null && Model.Products.Items.Count > 0)
    {
        @foreach(var product in Model.Products.Items)
        {
            <abp-column size-sm="_6" size-md="_4" size-lg="_3">
        
                        @{

                            var productName = product.Name;
                            var productImage = product.ProductImages?.OrderBy(x => x.DisplayOrder).FirstOrDefault();
                            var productsku = product.Sku;
                            var productPrice = product.Price.ToString("C", new CultureInfo("en-US"));
                            <div class="product-list-item" data-product-id="@product.Id.ToString()">
                                <a href="/products/@product.Id.ToString()">
                                    <div class="col">
                                        <div class="product-info-box">
                                            <h6>@product.Name</h6>
                                            <em class="d-block text-muted">@productsku</em>
                                        </div>
                                    </div>
                                    <img src="https://gateway-public.eshoponabp.com/product-images/lego.jpg" />
                                </a>
                                <div class="row mt-5 ">
                                    <abp-button class="add-basket-button" button-type="Warning" text="Add To Basket" data-product-id="@product.Id.ToString()"></abp-button>
                                    <div class="info-section col" style="text-align: center">
                                        <span class="product-price">@productPrice</span>
                                    </div>
                                </div>
                            </div>
                        }
 
            </abp-column>
        }

    }
 
</abp-row>
