@page "{id}"
@model MicroStore.Client.PublicWeb.Pages.Profile.Address.EditModel
@{
    ViewData["Title"] = "Edit Address";
    ViewData["ContainerTitle"] = "Edit Address";
    ViewData["BreadCrumb.IsMainPage"] = false;
    ViewData["BreadCrumb.Title"] = "Edit Address";
    ViewData["BreadCrumb.Page"] = "Edit Address";

}
<div class="container mt-3">
    <form class="theme-form" method="post" >
        @Html.HiddenFor(x=> x.Address.Id)
        <h5 class="mb-3">ADDRESS</h5>
        <div class="form-row mt-3 row">
            <div class="from-groub col-md-6">
                <abp-input asp-for="Address.Name"></abp-input>
            </div>
            <div class="col-md-6">
                <abp-input asp-for="Address.PhoneNumber"></abp-input>
            </div>
            <div class="col-md-6 mb-3">
                <label class="form-label" asp-for="@Model.Address.Country"> </label>
                <select class="form-select form-control" id="@Html.IdFor(x=> x.Address.Country)" asp-for="@Model.Address.Country">
                    <option value="" disabled selected>Please select</option>
                    @foreach (var country in Model.Countries)
                    {
                        <option value="@country.Value">@country.Text</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="Address.Country"></span>
            </div>

            <div class="col-md-6">
                <label class="form-label" asp-for="@Model.Address.StateProvince"> </label>
                <select class="form-select form-control" id="@Html.IdFor(x=> x.Address.StateProvince)" asp-for="@Model.Address.StateProvince" data-address-select="StateProvince">
                    @if(Model.StateProvinces != null)
                    {
                        @foreach (var state in Model.StateProvinces)
                        {
                            <option value="@state.Value">@state.Text</option>
                        }
                    }        
                </select>
                <span class="text-danger" asp-validation-for="Address.StateProvince"></span>
            </div>
            <div class="col-md-6">
                <abp-input asp-for="Address.City"></abp-input>
            </div>
            <div class="col-md-6">
                <abp-input asp-for="Address.AddressLine1"></abp-input>
            </div>
            <div class="col-md-6">
                <abp-input asp-for="Address.AddressLine2"></abp-input>
            </div>
            <div class="col-md-6">
                <abp-input asp-for="Address.PostalCode"></abp-input>
            </div>
            <div class="col-md-6">
                <abp-input asp-for="Address.ZipCode"></abp-input>
            </div>

             <div class="col-sm-12 mt-3 mb-3">
                <button class="btn btn-sm btn-solid" type="submit">Save</button>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <script>
        $(function () {


            $("#Address_Country").change(function () {
                $("#main-spinner").addClass("show")
                var countryCode = $(this).val();
                if (countryCode) {
                    abp.ajax({
                        url: `/api/country/code/${countryCode}`,
                        method: "GET",
                        success: function (result) {
                            var stateProvinceElment = $("#Address_StateProvince");
                            stateProvinceElment.empty();
                            $.each(result.stateProvinces, function (index, val) {
                                stateProvinceElment.append(new Option(val.name, val.abbreviation));
                            })
                        },

                        complete :function(){
                            $("#main-spinner").removeClass("show")
                        },
                        error: function () {
                            abp.notifiy.error("UnExpected Error has been happend please refersh the page")

                        }
                    })
                }

            })
        });
    </script>
}

