@using MicroStore.Client.PublicWeb.Components.RelatedProductListWidget;
@model MicroStore.Client.PublicWeb.Components.ProductDetailsWidget.ProductDetailsWidgetViewModel
<section>
    <div class="collection-wrapper" data-product-id="@Model.Product.Id">
        <div class="container">
            <div class="row">
                @{
                    var productImages = Model.Product.ProductImages;
                    var fallbackImage = @"/user-content/no-image.png";
                    var productPrice = Model.Product.Price;
                    var productOldPrice = Model.Product.OldPrice;
                    var hasPriceDiscount = Model.Product.Price > Model.Product.OldPrice;
                    int priceDiscount = 0;
                    if (hasPriceDiscount)
                    {
                        priceDiscount = 100 - (int)Math.Round(productOldPrice / productPrice);
                    }
                }
                <div class="col-lg-6">
                    <div class="product-slick" >
                        @if (productImages != null && productImages.Count > 0)
                        {
                            int index = 0;
                            @foreach (var image in productImages)
                            {
                                <div>
                                    <img src="@image.Image" alt=""
                                         class="img-fluid blur-up lazyload image_zoom_cls-@index">
                                </div>

                                index++;
                            }
                        }
                        else
                        {
                            <div>
                                <img src="@fallbackImage" class="img-fluid blur-up lazyload image_zoom_cls-0">
                            </div>
   
                        }
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                @if (productImages != null && productImages.Count > 1)
                                {
                                    @foreach (var image in productImages)
                                    {
                                        <div>
                                            <img src="@image.Image" alt=""
                                                 class="img-fluid blur-up lazyload">
                                        </div>

                                    }
                                }
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>@Model.Product.Name</h2>

                        <h3 class="price-detail">
                            $32.96
                            @if (hasPriceDiscount)
                            {
                                <del>@productOldPrice</del>
                                if (priceDiscount != 0)
                                {
                                    <span>@priceDiscount% off</span>
                                }
                            }


                        </h3>
                        <div id="selectSize" class="addeffect-section product-description border-product">
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus" data-field="">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-prepend">
                                        <button type="button"
                                                class="btn quantity-right-plus" data-type="plus" data-field="">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <a href="javascript:void(0)" id="cartEffect" class="btn btn-solid hover-solid btn-animation add-basket-button">
                                <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i> add to cart
                            </a>


                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Description</h6>
                            <div class="shipping-info">
                                <p>
                                    @Model.Product.ShortDescription
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-home-tab" data-bs-toggle="tab"
                           href="#top-home" role="tab" aria-selected="true">
                            <i class="icofont icofont-ui-home"></i>Details
                        </a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                         aria-labelledby="top-home-tab">
                        <div class="product-tab-discription">
                            @Html.Raw(Model.Product.LongDescription)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync(typeof(RelatedProductListWidgetViewComponent), new { productId = Model.Product.Id} )
