@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@model MicroStore.IdentityProvider.IdentityServer.Web.Areas.BackEnd.Models.ApiResources.CreateApiResourceSecretModel
<form asp-action="CreateApiResourceSecret">
    <abp-modal>
        <abp-modal-header title="Add Api Resource Secret"></abp-modal-header>
        <abp-modal-body>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x=> x.ApiResourceId)
            <abp-input asp-for="@Model.Value"></abp-input>
            <abp-input asp-for="@Model.Description"></abp-input>
        </abp-modal-body>
        <abp-modal-footer buttons="@AbpModalButtons.Save | @AbpModalButtons.Cancel"></abp-modal-footer>
    </abp-modal>
</form>