@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Categories.CategoryListModel

<div class="card card-default">
    <div class="card-body">

        <table id="categories-grid" class="table table-hover table-striped table-bordered dataTable no-footer" width="100%">
            <thead>
                <tr>

                    <th>@Html.DisplayNameFor(x=> x.Data.First().Name)</th>
                    <th>@Html.DisplayNameFor(x=> x.Data.First().Name)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Data)
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td><a asp-action="edit" asp-route-id="@category.Id" class="btn btn-info">Edit</a></td>
                        <td><a class="btn btn-danger">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

