@page "{id}"
@using MicroStore.Client.PublicWeb.Components.RecommandedProductListWidget
@using MicroStore.Client.PublicWeb.Components.RelatedProductListWidget
@model MicroStore.Client.PublicWeb.Pages.Products.DetailsModel
@{
    ViewData["Title"] = "Product Details";
    ViewData["BreadCrumb.IsMainPage"] = false;
    ViewData["BreadCrumb.Title"] = string.Format("{0} (Details)", Model.Product.Name);
    ViewData["BreadCrumb.Page"] = "PRODUCT";
}

@{
    var ratingList = new List<SelectListItem>()
    {
        new SelectListItem
        {
            Text = "Terrible",
            Value=  "1"
        },
        new SelectListItem
        {
            Text = "Poor",
            Value=  "2"
        },new SelectListItem
        {
            Text = "Average",
            Value=  "3"
        },new SelectListItem
        {
            Text = "Very Good",
            Value=  "4"
        },new SelectListItem
        {
            Text = "Excellent",
            Value=  "5"
        },
    };

    bool isUserAuthenticated = HttpContext.User?.Identity?.IsAuthenticated ?? false;

    bool isUserReviewdProduct = Model.UserReviews.Count > 0;
}

<section>
    <div class="collection-wrapper" data-product-id="@Model.Product.Id">
        <div class="container">
            <div class="row">
                @{
                    var productImages = Model.Product.Images;
                    var fallbackImage = @"/user-content/no-image.png";
                    var productPrice = Model.Product.Price;
                    var productOldPrice = Model.Product.OldPrice;
                    var hasPriceDiscount = Model.Product.Price > Model.Product.OldPrice;
                    int priceDiscount = 0;
                    if (hasPriceDiscount)
                    {
                        priceDiscount = 100 - (int)Math.Round(productOldPrice / productPrice);
                    }
                }
                <div class="col-lg-6">
                    <div class="product-slick">
                        @if (productImages != null && productImages.Count > 0)
                        {
                            int index = 0;
                            @foreach (var image in productImages)
                            {
                                <div>
                                    <img src="@image.Image" alt=""
                                         class="img-fluid blur-up lazyload image_zoom_cls-@index">
                                </div>

                                index++;
                            }
                        }
                        else
                        {
                            <div>
                                <img src="@fallbackImage" class="img-fluid blur-up lazyload image_zoom_cls-0">
                            </div>

                        }
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-nav">
                                @if (productImages != null && productImages.Count > 1)
                                {
                                    @foreach (var image in productImages)
                                    {
                                        <div>
                                            <img src="@image.Image" alt=""
                                                 class="img-fluid blur-up lazyload">
                                        </div>

                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-right">
                        <h2>@Model.Product.Name</h2>

                        <h3 class="price-detail">
                            $32.96
                            @if (hasPriceDiscount)
                            {
                                <del>@productOldPrice</del>
                                if (priceDiscount != 0)
                                {
                                    <span>@priceDiscount% off</span>
                                }
                            }


                        </h3>
                        <div id="selectSize" class="addeffect-section product-description border-product">
                            <h6 class="product-title">quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus" data-field="">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-prepend">
                                        <button type="button"
                                                class="btn quantity-right-plus" data-type="plus" data-field="">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <a href="javascript:void(0)" id="cartEffect" class="btn btn-solid hover-solid btn-animation add-basket-button">
                                <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i> add to cart
                            </a>


                        </div>
                        <div class="border-product">
                            <h6 class="product-title">Description</h6>
                            <div class="shipping-info">
                                <p>
                                    @Model.Product.ShortDescription
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-details-tab" data-bs-toggle="tab"
                           href="#top-details" role="tab" aria-selected="true">
                            <i class="icofont icofont-ui-home"></i>Details
                        </a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " id="top-reviews-tab" data-bs-toggle="tab"
                           href="#top-reviews" role="tab" aria-selected="true">
                            <i class="icofont icofont-ui-home"></i>Reveiws
                        </a>
                        <div class="material-border"></div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" id="top-write-review-tab" data-bs-toggle="tab" href="#top-write-review" role="tab" aria-selected="true">
                            <i class="icofont icofont-ui-home"></i> @(isUserReviewdProduct ? "Your  Reveiw" : "Write Review")
                        </a>
                    </li>

                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-details" role="tabpanel"
                         aria-labelledby="top-details-tab">
                        <div class="product-tab-discription">
                            @if (Model.Product.LongDescription != null)
                            {
                                <div>
                                    @Html.Raw(Model.Product.LongDescription)
                                </div>
                               
                            }
                            else
                            {
                                <p>There is no description for this product</p>
                            }

                        </div>
                    </div>
                    <div class="tab-pane fade show" id="top-reviews" role="tabpanel"
                         aria-labelledby="top-reviews-tab">
                        <div class="product-tab-discription">
                            <div class="section-b-space blog-detail-page review-page">
                                <div class="container">
                                    <div class="row">
                                        @if (Model.ProductReviews != null && Model.ProductReviews.Count > 0)
                                        {
                                            <div class="col-sm-12 mb-3">
                                                <ul class="comment-section">

                                                    @foreach (var review in Model.ProductReviews)
                                                    {
                                                        int ratingPercent = (int)(review.Rating * 100 / 5);
                                                        string userImage = review.User.Avatar ?? "/images/user.png";
                                                        string name = string.Format("{0} {1}", review.User.FirstName,                           review.User.LastName);

                                                        <li style="display:block !important">
                                                            <div class="media">
                                                                <img src="@userImage" alt="Generic placeholder image">
                                                                <div class="media-body">
                                                                    <h6> @name</h6>
                                                                    <div class="custom-rating">
                                                                        <div style="width:@(ratingPercent)%"></div>
                                                                    </div>
                                                                    <p>
                                                                        @review.ReviewText
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }

                                                </ul>
                                            </div>

                                            <div class="col-sm-12 mt-3 text-center">
                                                <a class="btn btn-solid hover-solid btn-animation" asp-page="/Products/Reviews" asp-route-id="@Model.Product.Id">
                                                    Show More
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-sm-12 text-center">
                                                <h3 class="mt-3">There is no reviews yet</h3>
                                            </div>
                                        }


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="top-write-review" role="tabpanel" aria-labelledby="top-write-review-tab">

                        @if (isUserReviewdProduct)
                        {
                            var userReview = Model.UserReviews.First();
                            int ratingPercent = (int)(userReview.Rating * 100 / 5);
                            <div class="section-b-space blog-detail-page review-page">
                                <div class="container">
                                    <ul class="comment-section">
                                        <li style="display:block !important">
                                            <div class="media"> 
                                                <img src="/images/user.png" alt="placeholder image">
                                                <div class="media-body">
                                                    <h6> User</h6>
                                                    <div class="custom-rating">
                                                        <div style="width:@(ratingPercent)%"></div>
                                                    </div>
                                                    <p>
                                                        @userReview.ReviewText
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>



                        }
                        else
                        {
                            if (!isUserAuthenticated)
                            {
                                <div class="alert alert-warning fade show mt-1" role="alert">
                                    You should login in to be able to submit review
                                </div>
                            }

                            <form class="theme-form" method="post" asp-page-handler="SubmitProductReview" asp-route-id="@Model.Product.Id">
                                <input type="hidden" name="ReviewInput.ProductId" value="@Model.Product.Id" />
                                <div class="form-row row">
                                    <div class="col-md-12 form-group">
                                        <label for="Rating">Rating</label>
                                        <select class="form-control star-rating" name="ReviewInput.Rating" asp-items="@ratingList">
                                            <option value="" selected>Select a rating</option>
                                        </select>
                                        <span asp-validation-for="ReviewInput.Rating"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="ReviewTitle">Review Title</label>
                                        <input type="text" class="form-control" name="ReviewInput.ReviewTitle" placeholder="Enter your Review Subjects" required="">
                                        <label id="ReviewTitle-error" class="text-danger"></label>
                                        <span asp-validation-for="ReviewInput.ReviewTitle"></span>
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label for="ReviewText">Review Text</label>
                                        <textarea class="form-control" placeholder="Wrire Your Testimonial Here" name="ReviewInput.ReviewText" rows="3"></textarea>
                                        <span asp-validation-for="ReviewInput.ReviewText"></span>

                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn-solid" type="submit">
                                            Submit YOur
                                            Review
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync(typeof(RecommandedProductListWidgetViewComponent))

@await Component.InvokeAsync(typeof(RelatedProductListWidgetViewComponent), new { productId = Model.Product.Id })


@section Scripts {
    <script>

        (function () {
            var stars = new StarRating('.star-rating');
            $(".product-image-thumb")
                .click(function () {
                    var $this = $(this);
                    var activeThumb = $this.parent().find(".active");
                    activeThumb.removeClass(".active");
                    $this.addClass("active");
                    var imageSrc = $this.attr("data-image-src");
                    $(".product-image").attr("src", imageSrc);
                })

            $(".quantity-left-minus").prop('disabled', true);

            $(".quantity-left-minus")
                .click(function () {
                    var quantityInput = $("input[name='quantity']");
                    var quantity = parseInt(quantityInput.val());

                    if (quantity > 1) {
                        quantity -= 1;

                        if (quantity == 1) {
                            $(this).prop("disabled", true)
                        }
                        quantityInput.val(quantity)
                    }
                })

            $(".quantity-right-plus")
                .click(function () {
                    var quantityInput = $("input[name='quantity']");
                    var quantity = parseInt(quantityInput.val());
                    quantity += 1;
                    quantityInput.val(quantity);
                    if (quantity > 1) {
                        $(".quantity-left-minus").prop('disabled', false)
                    }

                })

            $(".add-basket-button")
                .click(function () {
                    var $this = $(this);
                    var productId = $this.parents("[data-product-id]").attr("data-product-id")
                    var quantity = parseInt($("input[name='quantity']").val());
                    abp.ajax({
                        url: "/api/basket",
                        method: "POST",
                        data: JSON.stringify({
                            productId: productId,
                            quantity: quantity
                        }),

                        success: function () {
                            $(".abp-widget-wrapper[data-widget-name='CartWidget']")
                                .each(function () {
                                    var widgetManager = new abp.WidgetManager({
                                        wrapper: $(this)
                                    });
                                    widgetManager.init($(this));

                                    widgetManager.refresh();
                                })


                            abp.notify.info("Added product to your basket.", "Successfully added")
                        }
                    });
                });
        })();




    </script>
}
