@using Duende.IdentityServer.Models;
@model MicroStore.IdentityProvider.IdentityServer.Web.Areas.BackEnd.Models.Clients.EditClientModel
@{
    Html.GetEnumSelectList<AccessTokenType>();
}

<div class="card card-primary card-outline card-tabs">
    <div class="card-header p-0 pt-1">
        <ul class="nav nav-tabs" id="custom-tabs-two-tab" role="tablist">
            <li class="pt-2 px-3"><h3 class="card-title"><i class="fas fa-info mr-2 text-lightblue"></i>Tokens</h3></li>
            <li class="nav-item">
                <a class="nav-link active" id="AccessTokenLink" data-bs-toggle="pill" href="#AccessTokenTab" role="tab" aria-controls="AccessTokenTab" aria-selected="true">Access Token</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="IdentityTokenLink" data-bs-toggle="pill" href="#IdentityTokenTab" role="tab" aria-controls="IdentityTokenTab" aria-selected="false">IdentityToken</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="RefershTokenLink" data-bs-toggle="pill" href="#RefershTokenTab" role="tab" aria-controls="RefershTokenTab" aria-selected="false">RefershToken</a>
            </li>
            <li class="nav-item ml-auto">
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
                </div>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" >
            <div class="tab-pane fade active show" id="AccessTokenTab" role="tabpanel" aria-labelledby="AccessTokenTab">
                <div class="mt-3">
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.AccessTokenType"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <select asp-for="@Model.AccessTokenType" class="form-control"
                                    asp-items="@(Html.GetEnumSelectList<AccessTokenType>())"> </select>

                            <span class="text-danger" asp-validation-for="@Model.AccessTokenType">
                            </span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.AccessTokenLifetime"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input asp-for="@Model.AccessTokenLifetime" class="form-control" type="number" />
                                <span class="input-group-text">Seconds</span>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.AccessTokenLifetime">
                            </span>
                        </div>

                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.PairWiseSubjectSalt"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input asp-for="@Model.PairWiseSubjectSalt" class="form-control" />
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.PairWiseSubjectSalt">
                            </span>
                        </div>

                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.IncludeJwtId"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="form-switch">
                                <input asp-for="@Model.IncludeJwtId" class="form-check-input" type="checkbox">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.IncludeJwtId">
                            </span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.AlwaysIncludeUserClaimsInIdToken"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="form-switch">
                                <input asp-for="@Model.AlwaysIncludeUserClaimsInIdToken" class="form-check-input" type="checkbox">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.AlwaysIncludeUserClaimsInIdToken"></span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="IdentityTokenTab" role="tabpanel" aria-labelledby="IdentityTokenTab">
                <div class="mt-3">
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.IdentityTokenLifetime"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input asp-for="@Model.IdentityTokenLifetime" class="form-control" type="number" />
                                <span class="input-group-text">Seconds</span>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.IdentityTokenLifetime">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="RefershTokenTab" role="tabpanel" aria-labelledby="RefershTokenTab">
                <div class="mt-3">
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.AllowOfflineAccess"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="form-switch">
                                <input asp-for="@Model.AllowOfflineAccess" class="form-check-input" type="checkbox">
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.AllowOfflineAccess">
                            </span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.RefreshTokenUsage"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <select asp-for="@Model.RefreshTokenUsage" class="form-control" asp-items="Html.GetEnumSelectList<TokenUsage>()"></select>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.RefreshTokenUsage">
                            </span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.RefreshTokenExpiration"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <select asp-for="@Model.RefreshTokenExpiration" class="form-control" asp-items="Html.GetEnumSelectList<TokenExpiration>()"></select>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.RefreshTokenExpiration">
                            </span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.AbsoluteRefreshTokenLifetime"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input asp-for="@Model.AbsoluteRefreshTokenLifetime" class="form-control" type="number" />
                                <span class="input-group-text">Seconds</span>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.AbsoluteRefreshTokenLifetime">     </span>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-sm-3">
                            <div class="float-sm-left float-md-right">
                                <micro-label asp-for="@Model.SlidingRefreshTokenLifetime"></micro-label>
                            </div>

                        </div>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input asp-for="@Model.SlidingRefreshTokenLifetime" class="form-control" type="number" />
                                <span class="input-group-text">Seconds</span>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.SlidingRefreshTokenLifetime">  </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



