@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Orderes;
@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Shipping;
@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Ordering.OrderAggregateVM
@{
    string orderStateBadge = string.Empty;

    switch (Model.CurrentState)
    {
        case OrderState.Completed:
            orderStateBadge = "bg-success";
            break;
        case OrderState.Cancelled:
            orderStateBadge = "bg-error";
            break;
        default:
            orderStateBadge = "bg-info";
            break;
    }



}
<abp-card>
    <abp-card-header>
        <abp-card-title><i class="fas fa-info mr-1 text-lightblue"></i> Order Info</abp-card-title>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus text-lg"></i>

            </button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Id" />
                </div>
            </abp-column>
            <abp-column size-sm=_9>
                <div>
                    @Model.Id
                </div>
            </abp-column>
        </abp-row>

        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.OrderNumber" />
                </div>
            </abp-column>
            <abp-column size-sm=_9>
                <div>
                    @Model.OrderNumber
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.UserId" />
                </div>
            </abp-column>
            <abp-column size-sm=_9>
                <div>
                    @Model.UserId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.TaxCost" />
                </div>
            </abp-column>
            <abp-column size-sm=_9>
                <div>
                    @Model.TaxCost
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.ShippingCost" />
                </div>
            </abp-column>
            <abp-column size-sm=_9>
                <div>
                    @Model.ShippingCost
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.SubTotal" />
                </div>
            </abp-column>
            <abp-column size-sm=_9>
                <div>
                    @Model.SubTotal
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.TotalPrice" />
                </div>
            </abp-column>
            <abp-column size-sm=_9>
                <div>
                    @Model.TotalPrice
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size-sm=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.CurrentState" />
                </div>

            </abp-column>
            <abp-column size-sm=_9>
                <div class="input-group input-group-short">
                    <div class="input-group-text text-md align-items-start bg-info">
                        @Model.CurrentState
                    </div>

                    <div class="input-group-btn ml-2">
                         @if (Model.CurrentState == OrderState.Fullfilled)
                        {
                            <abp-button button-type=Success 
                            text="Complete" id="completeOrderButton"></abp-button>
                        }
                        @if (Model.CurrentState != OrderState.Cancelled)
                        {
                            <abp-button button-type=Danger text="Cancel" 
                            id="cancelOrderButton"></abp-button>
                        }

                       
                    </div>

                </div>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>
