@using MicroStore.Client.PublicWeb.Components.OrderDetailsWidget;
@using System.Globalization;
@using MicroStore.Client.PublicWeb.Utils
@model OrderDetailsWidgetViewModel
@{

    var orderNumber = FormatHelper.FormatOrderNumber(Model.Order.OrderNumber);

    var paymentStatus = Model.Order.PaymentId != null ? "Paid" : "UnPaid";

    var orderStatus = Model.Order.CurrentState;

    var totalPrice = Model.Order.TotalPrice;

    var submissionDate = Model.Order.SubmissionDate.ToString("dd-MM-yyyy");



}
<abp-container>
    <abp-card>
        <abp-card-header>
            <abp-row>
                <abp-column size="_3">
                    <h5 class="d-block text-uppercase">Order Date</h5>
                    <h5 class="d-block">@submissionDate</h5>
                </abp-column>
                <abp-column size="_3">
                    <h5 class="d-block text-uppercase">Order NO</h5>
                    <h5 class="d-block">@orderNumber</h5>
                </abp-column>
                <abp-column size="_3">
                    <h5 class="d-block text-uppercase">Order Status</h5>
                    <h5 class="d-block">@orderStatus</h5>
                </abp-column>
                <abp-column size="_3">
                    <h5 class="d-block text-uppercase">PAYMENT Status</h5>
                    <h5 class="d-block">@paymentStatus</h5>
                </abp-column>
            </abp-row>
        </abp-card-header>
        <abp-card-body>
            @foreach (var item in Model.Order.Items)
            {
                <abp-card class="order-item m-3" data-product-id="@item.ExternalProductId">
                    <abp-card-body>
                        <abp-row>
                            <abp-column size-md="_2">
                                <a href="/products/Details/@item.ExternalProductId">
                                    @{
                                        string imageUrl = item.Thumbnail ?? "/user-content/no-image.png";

                                        if (string.IsNullOrEmpty(imageUrl))
                                        {
                                            imageUrl = "/user-content/no-image.png";
                                        }
                                        <img class="img-size w-75" src="@imageUrl" />
                                    }
                                </a>
                            </abp-column>
                            <abp-column size-md="_4" size-md="_4" class="mb-3">
                                <a href="/products/Details/@item.ExternalProductId">
                                    <h3><strong class="text-dark">@item.Name</strong></h3>
                                    <h5><em class="text-secondary">@item.Sku</em></h5>
                            
                                </a>
                                <h5>quantity : @item.Quantity</h5>
                                <h5>Unit Price : @item.UnitPrice.ToString("C", new CultureInfo("en-US"))</h5>
                                <div class="mt-3">
                                    <a href="javascript:void(0)" id="cartEffect" class="btn btn-solid hover-solid btn-animation buy-again">
                                        <i class="fa fa-shopping-cart me-1" aria-hidden="true"></i> Buy Again
                                    </a>

                                </div>
                            </abp-column>
                        </abp-row>
                    </abp-card-body>
                </abp-card>
            }

        </abp-card-body>
    </abp-card>
</abp-container>