@model CheckoutModel
@{
    var countrylist = (List<SelectListItem>)ViewBag.Countries;

}


<abp-row>
    <abp-column size=_12>
        <abp-card id="@Html.IdFor(x=> x.ShippingAddress)" data-address="@Html.NameFor(x=> x.ShippingAddress)">
            <abp-card-header>
                <abp-card-title>
                    <h5>Shipping Address</h5>
                </abp-card-title>
            </abp-card-header>
            <abp-card-body>
                <abp-input asp-for="@Model.ShippingAddress.FirstName"></abp-input>
                <abp-input asp-for="@Model.ShippingAddress.LastName"></abp-input>
                <div class="mb-3">
                    <label asp-for="@Model.ShippingAddress.Country"> </label>
                    <select class="form-select" asp-for="@Model.ShippingAddress.Country" data-address-select="Country">
                        <option selected>Please select country</option>
                        @foreach (var country in countrylist)
                        {
                            <option value="@country.Value">@country.Text</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.ShippingAddress.StateProvince"> </label>
                    <select class="form-select" asp-for="@Model.ShippingAddress.StateProvince" data-address-select="StateProvince"></select>
                </div>
                <abp-input asp-for="@Model.ShippingAddress.City"></abp-input>
                <abp-input asp-for="@Model.ShippingAddress.AddressLine1"></abp-input>
                <abp-input asp-for="@Model.ShippingAddress.AddressLine2"></abp-input>
                <abp-input asp-for="@Model.ShippingAddress.ZipCode"></abp-input>
                <abp-input asp-for="@Model.ShippingAddress.PostalCode"></abp-input>
                <abp-input asp-for="@Model.ShippingAddress.PhoneNumber"></abp-input>
            </abp-card-body>
            <abp-card-footer>
                <abp-input asp-for="@Model.UseAnotherBillingAddress"></abp-input>
            </abp-card-footer>
        </abp-card>
    </abp-column>
    <abp-column>
        <abp-card class="d-none" id="@Html.IdFor(x=> x.BillingAddress)" data-address="@Html.NameFor(x=> x.BillingAddress)">
            <abp-card-header>
                <abp-card-title>Billing Address</abp-card-title>
            </abp-card-header>
            <abp-card-body>
                <abp-input asp-for="@Model.BillingAddress.FirstName"></abp-input>
                <abp-input asp-for="@Model.BillingAddress.LastName"></abp-input>
                <div class="mb-3">
                    <label asp-for="@Model.BillingAddress.Country"></label>
                    <select class="form-select" asp-for="@Model.BillingAddress.Country" data-address-select="Country">
                        <option selected>Please select country</option>
                        @foreach (var country in countrylist)
                        {
                            <option value="@country.Value">@country.Text</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.BillingAddress.StateProvince"></label>
                    <select class="form-select" asp-for="@Model.BillingAddress.StateProvince" data-address-select="StateProvince"></select>
                </div>
                <abp-input asp-for="@Model.BillingAddress.City"></abp-input>
                <abp-input asp-for="@Model.BillingAddress.AddressLine1"></abp-input>
                <abp-input asp-for="@Model.BillingAddress.AddressLine2"></abp-input>
                <abp-input asp-for="@Model.BillingAddress.ZipCode"></abp-input>
                <abp-input asp-for="@Model.BillingAddress.PostalCode"></abp-input>
                <abp-input asp-for="@Model.BillingAddress.PhoneNumber"></abp-input>
            </abp-card-body>
        </abp-card>
    </abp-column>
</abp-row>


@*@if (ViewBag.CheckoutInformationWidgetError ?? false)
    {
    <div class="alert alert-danger m-auto" role="alert">
    @ViewBag.CheckoutInformationWidgetErrorDetails
    </div>
    }
    else
    {

    <abp-row>
    <abp-column size=_12>
    <abp-card id="@Html.IdFor(x=> x.ShippingAddress)" data-address="@Html.NameFor(x=> x.ShippingAddress)">
    <abp-card-header>
    <abp-card-title>
    <h5>Shipping Address</h5>
    </abp-card-title>
    </abp-card-header>
    <abp-card-body>
    <abp-input asp-for="@Model.ShippingAddress.FirstName"></abp-input>
    <abp-input asp-for="@Model.ShippingAddress.LastName"></abp-input>
    <abp-select asp-for="@Model.ShippingAddress.Country" data-address-select="Country">
    <option selected>Please select country</option>
    @foreach (var item in countrylist)
    {
    <option value="@item.Value">@item.Text</option>
    }
    </abp-select>
    <abp-select asp-for="@Model.ShippingAddress.StateProvince" data-address-select="StateProvince"></abp-select>
    <abp-input asp-for="@Model.ShippingAddress.City"></abp-input>
    <abp-input asp-for="@Model.ShippingAddress.AddressLine1"></abp-input>
    <abp-input asp-for="@Model.ShippingAddress.AddressLine2"></abp-input>
    <abp-input asp-for="@Model.ShippingAddress.ZipCode"></abp-input>
    <abp-input asp-for="@Model.ShippingAddress.PostalCode"></abp-input>
    <abp-input asp-for="@Model.ShippingAddress.PhoneNumber"></abp-input>
    </abp-card-body>
    <abp-card-footer>
    <abp-input asp-for="@Model.UseAnotherBillingAddress"></abp-input>
    </abp-card-footer>
    </abp-card>
    </abp-column>
    <abp-column>
    <abp-card class="d-none" id="@Html.IdFor(x=> x.BillingAddress)" data-address="@Html.NameFor(x=> x.BillingAddress)">
    <abp-card-header>
    <abp-card-title>Billing Address</abp-card-title>
    </abp-card-header>
    <abp-card-body>
    <abp-input asp-for="@Model.BillingAddress.FirstName"></abp-input>
    <abp-input asp-for="@Model.BillingAddress.LastName"></abp-input>
    <abp-select asp-items="countrylist" asp-for="@Model.BillingAddress.Country" data-address-select="Country"></abp-select>
    <abp-select asp-for="@Model.BillingAddress.StateProvince" data-address-select="StateProvince"></abp-select>
    <abp-input asp-for="@Model.BillingAddress.City"></abp-input>
    <abp-input asp-for="@Model.BillingAddress.AddressLine1"></abp-input>
    <abp-input asp-for="@Model.BillingAddress.AddressLine2"></abp-input>
    <abp-input asp-for="@Model.BillingAddress.ZipCode"></abp-input>
    <abp-input asp-for="@Model.BillingAddress.PostalCode"></abp-input>
    <abp-input asp-for="@Model.BillingAddress.PhoneNumber"></abp-input>
    </abp-card-body>
    </abp-card>
    </abp-column>
    </abp-row>

    }


*@