@*@model CheckoutModel
@{
    var countrylist = (List<SelectListItem>)ViewBag.Countries;

}
<abp-row>
    <div class="checkout-title">
        <h3>Shipping Details</h3>
    </div>
    <abp-column size=_12 data-address="@Html.NameFor(x=> x.ShippingAddress)">
        <abp-row class="check=out">
            <abp-column class="form-group" size-md="_6" size-sm="_12">
                <abp-input asp-for="@Model.ShippingAddress.Name"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_6" size-sm="_12">
                <abp-input asp-for="@Model.ShippingAddress.Name"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_12" >
                <abp-input asp-for="@Model.ShippingAddress.PhoneNumber"></abp-input>
            </abp-column>
            <abp-column size="_12" class="form-group mb-3">
                <label asp-for="@Model.ShippingAddress.Country"> </label>
                <select class="form-select" asp-for="@Model.ShippingAddress.Country" data-address-select="Country">
                    <option selected>Please select country</option>
                    @foreach (var country in countrylist)
                    {
                        <option value="@country.Value">@country.Text</option>
                    }
                </select>
            </abp-column>
            <abp-column size="_12" class="form-group mb-3">
                <label asp-for="@Model.ShippingAddress.StateProvince"> </label>
                <select class="form-select" asp-for="@Model.ShippingAddress.StateProvince" data-address-select="StateProvince"></select>
            </abp-column>

            <abp-column class="form-group" size-md="_12">
                <abp-input asp-for="@Model.ShippingAddress.City"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_12">
                <abp-input asp-for="@Model.ShippingAddress.ZipCode"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_12">
                <abp-input asp-for="@Model.ShippingAddress.PostalCode"></abp-input>
            </abp-column>
        </abp-row>
    </abp-column>

    <abp-column size=_12 data-address="@Html.NameFor(x=> x.BillingAddress)">
        <div class="checkout-title">
            <h3>Billing Details</h3>
        </div>
        <abp-row class="check=out">
            <abp-column class="form-group" size-md="_6" size-sm="_12">
                <abp-input asp-for="@Model.BillingAddress.Name"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_6" size-sm="_12">
                <abp-input asp-for="@Model.BillingAddress.Name"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_12">
                <abp-input asp-for="@Model.BillingAddress.PhoneNumber"></abp-input>
            </abp-column>
            <abp-column size="_12" class="form-group mb-3">
                <label asp-for="@Model.BillingAddress.Country"> </label>
                <select class="form-select" asp-for="@Model.BillingAddress.Country" data-address-select="Country">
                    <option selected>Please select country</option>
                    @foreach (var country in countrylist)
                    {
                        <option value="@country.Value">@country.Text</option>
                    }
                </select>
            </abp-column>
            <abp-column size="_12" class="form-group mb-3">
                <label asp-for="@Model.BillingAddress.StateProvince"> </label>
                <select class="form-select" asp-for="@Model.BillingAddress.StateProvince" data-address-select="StateProvince"></select>
            </abp-column>

            <abp-column class="form-group" size-md="_12">
                <abp-input asp-for="@Model.BillingAddress.City"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_12">
                <abp-input asp-for="@Model.BillingAddress.ZipCode"></abp-input>
            </abp-column>
            <abp-column class="form-group" size-md="_12">
                <abp-input asp-for="@Model.BillingAddress.PostalCode"></abp-input>
            </abp-column>
        </abp-row>
    </abp-column>
</abp-row>
*@