@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Cart
@using System.Globalization;
@model BasketAggregate

@{
    var totalCount = Model?.Items.Count ?? 0;
    var totalPrice = Model?.Items.Sum(item => item.Quantity * item.Price) ?? 0;
}

<section class="cart-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 table-responsive-xs">
                @if (Model.Items != null && Model.Items.Count > 0)
                {
                    <table class="table cart-table">
                        <thead>
                            <tr class="table-head">
                                <th>image</th>
                                <th>product name</th>
                                <th>price</th>
                                <th>quantity</th>
                                <th>action</th>
                                <th>total</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                var image = item.Thumbnail ?? "/user-content/no-image.png";
                                var price = item.Price;
                                var itemTotalPrice = price * item.Quantity;
                                var name = item.Name;
                                <tr class="basket-list-item" data-product-id="@item.ProductId">
                                    <td>
                                        <a href="#"><img src="@image" alt=""></a>
                                    </td>
                                    <td>
                                        <a href="#">@name</a>
                                        <div class="mobile-cart-content row">
                                            <div class="col">
                                                <div class="qty-box">
                                                    <div class="input-group">
                                                        <button type="button" class="btn quantity-left-minus">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </button>
                                                        <input type="number" class="form-control input-number disabled" value="@item.Quantity" disabled>
                                                        <button type="button" class="btn quantity-right-plus">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <h2 class="td-color">@price.ToString("C", new CultureInfo("en-US"))</h2>
                                            </div>
                                            <div class="col">
                                                <h2 class="td-color">
                                                    <a href="#" class="icon"><i class="ti-close"></i></a>
                                                </h2>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h2>@price.ToString("C", new CultureInfo("en-US"))</h2>
                                    </td>
                                    <td>
                                        <div class="qty-box">
                                            <div class="input-group">
                                                <button type="button" class="btn quantity-left-minus">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                                <input type="number" class="form-control input-number disabled" value="@item.Quantity" disabled>
                                                <button type="button" class="btn quantity-right-plus">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td><a href="javascript:void(0)" class="icon basket-item-remove"><i class="ti-close"></i></a></td>
                                    <td>
                                        <h2 class="td-color">@itemTotalPrice.ToString("C", new CultureInfo("en-US"))</h2>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    <div class="table-responsive-md">
                        <table class="table cart-table ">
                            <tfoot>
                                <tr>
                                    <td>total price :</td>
                                    <td>
                                        <h2>$@totalPrice.ToString("C", new CultureInfo("en-US"))</h2>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
                else
                {
                    <div class="container text-center">
                        <h3>Your cart is empty</h3>
                    </div>
                }

            </div>
        </div>
        <div class="row cart-buttons">
            <div class="col-6 text-left"><a href="/" class="btn btn-solid ">continue shopping</a></div>
            @if (Model.Items != null && Model.Items.Count > 0)
            {
                <div class="col-6"><a href="/Payment/Checkout" class="btn btn-solid">check out</a></div>
            }
        </div>
    </div>
</section>
