@page
@using MicroStore.ShoppingGateway.ClinetSdk.Common;
@model MicroStore.Client.PublicWeb.Areas.Administration.Pages.Products.CreateModel
@{
}

<div class="content-wrapper mr-2">
    <!-- Content Header (Page header) -->
    <form>
        @Html.AntiForgeryToken()
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Add a new Product</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item">
                                <button class="btn btn-info" type="submit">
                                    <i class="fas
                                fa-plus-square mr-1"></i> Save
                                </button>
                            </li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <div class="content">
            <div class="container-fluid">


                <div class="card clearfix">


                    <div class="card-header">
                        <p class="card-title text-lg "><i class="fas fa-info mr-1 text-lightblue"></i> Product Info</p>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="text-center mb-3">
                            @Html.ValidationSummary()
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div class="float-sm-left float-md-right">


                                    <micro-label class="col-form-label"
                                                 asp-for="@Model.ProductModel.Name" />

                                </div>

                            </div>
                            <div class="col-md-9">
                                <input asp-for="@Model.ProductModel.Name" id="name" class="form-control" />

                                <span class="text-danger" asp-validation-for="@Model.ProductModel.Name">
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div class="float-sm-left float-md-right">
                                    <micro-label asp-for="@Model.ProductModel.Sku"></micro-label>
                                </div>

                            </div>
                            <div class="col-md-9">
                                <input asp-for="@Model.ProductModel.Sku" id="name" class="form-control" />

                                <span class="text-danger" asp-validation-for="@Model.ProductModel.Name">
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div style="float:
                                                right!important;">
                                    <micro-label asp-for="@Model.ProductModel.IsFeatured"></micro-label>
                                </div>

                            </div>
                            <div class="col-md-9">
                                <input asp-for="@Model.ProductModel.IsFeatured" id="name" class="check-box" />

                                <span class="text-danger" asp-validation-for="@Model.ProductModel.Name">
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div class="float-sm-left float-md-right">
                                    <micro-label asp-for="@Model.ProductModel.ShortDescription"></micro-label>
                                </div>

                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="@Model.ProductModel.ShortDescription" id="@Model.ProductModel.ShortDescription" class="form-control" rows="4"></textarea>

                                <span class="text-danger" asp-validation-for="@Model.ProductModel.ShortDescription">
                                </span>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-3">

                                <div class="float-sm-left float-md-right">
                                    <micro-label asp-for="@Model.ProductModel.LongDescription"></micro-label>
                                </div>


                            </div>
                            <div class="col-md-9">
                                <textarea id="#long-description" class="summernote" rows="4" asp-for="@Model.ProductModel.LongDescription"> </textarea>

                                <span class="text-danger" asp-validation-for="@Model.ProductModel.ShortDescription">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card clearfixt">
                    <div class="card-header">
                        <p class="card-title text-lg "><i class="fas fa-info mr-1 text-lightblue"></i> Prices</p>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div class="float-sm-left float-md-right">
                                    <micro-label asp-for="@Model.ProductModel.Price"></micro-label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input asp-for="@Model.ProductModel.Price" type="number" class="form-control" placeholder="Value" />
                                </div>


                            </div>

                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div class="float-sm-left float-md-right">
                                    <micro-label asp-for="@Model.ProductModel.OldPrice"></micro-label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input asp-for="@Model.ProductModel.OldPrice" type="number" class="form-control" placeholder="Value" />
                                </div>


                            </div>

                        </div>

                    </div>
                </div>



                <div class="card clearfixt">
                    <div class="card-header">
                        <p class="card-title text-lg "><i class="fas fa-info mr-1 text-lightblue"></i> Shipping Info</p>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
                        </div>
                    </div>

                    <div class="card-body">

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div class="float-sm-left float-md-right">
                                    <micro-label asp-for="@Model.ProductModel.Weight"></micro-label>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input asp-for="@Model.ProductModel.Weight.Value" type="number" class="form-control" placeholder="Value" />
                                    <select asp-for="@Model.ProductModel.Weight.Unit" asp-items="@Html.GetEnumSelectList<WeightUnit>()" class="form-control"></select>

                                    <span asp-validation-for="@Model.ProductModel.Weight.Value" class="invalid-feedback"></span>
                                    <span asp-validation-for="@Model.ProductModel.Weight.Unit" class="invalid-feedback"></span>
                                    <span asp-validation-for="@Model.ProductModel.Weight" class="invalid-feedback"></span>
                                </div>


                            </div>

                        </div>

                        <div class="form-group row mb-3">
                            <div class="col-md-3">
                                <div class="float-sm-left float-md-right">
                                    <micro-label asp-for="@Model.ProductModel.Dimension"></micro-label>
                                </div>
                            </div>

                            <div class="col-md-9">
                                <div class="input-group">
                                    <input asp-for="@Model.ProductModel.Dimension.Lenght" type="number" class="form-control" placeholder="Lenght" />
                                    <input asp-for="@Model.ProductModel.Dimension.Width" type="number" class="form-control" placeholder="Width" />
                                    <input asp-for="@Model.ProductModel.Dimension.Height" type="number" class="form-control" placeholder="Height" />
                                    <select asp-for="@Model.ProductModel.Dimension.Unit" asp-items="@Html.GetEnumSelectList<DimensionUnit>()" class="form-control"></select>

                                    <span asp-validation-for="@Model.ProductModel.Dimension.Lenght" class="invalid-feedback"></span>
                                    <span asp-validation-for="@Model.ProductModel.Dimension.Width" class="invalid-feedback"></span>
                                    <span asp-validation-for="@Model.ProductModel.Dimension.Height" class="invalid-feedback"></span>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>

@section Scripts{
    <script>
        ///<reference path="~/lib/jquery/jquery.js" />

        $(document).ready(function () {
            $('.summernote').summernote({
                height: 150,
                name: 'Model.ProductModel.LongDescription',
                codemirror: { // codemirror options
                    theme: 'monokai'
                }
            });


            $.ajx
        });
    </script>
}