@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products.CreateProductImageModel
<div class="float-right mb-3">
    <button type="button" id="createproductimage-btn" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#createproductimage-modal">Add Product Image</button>
</div>

<div class="modal fade" id="createproductimage-modal" aria-hidden="true" aria-labelledby="createproductimage-btn" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Add Product Image</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form enctype="multipart/form-data" asp-action="CreateProductImage" asp-route-id="@ViewBag.ProductId" onsubmit="editProductObj.createProductImage(this, event)" >
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="form-group row mb-3">
                        <div class="col-md-3 float-sm-left float-md-right">
                            <micro-label asp-for="@Model.Image"></micro-label>
                        </div>

                        <div class="col-md-9">
                            <div class="custom-file">
                                <input asp-for="Image" class="custom-file-input" />
                                <label asp-for="Image" class="custom-file-label">Choose file</label>
                            </div>
                            <span class="text-danger" asp-validation-for="@Model.Image"></span>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-md-3 float-sm-left float-md-right">
                            <micro-label asp-for="@Model.DisplayOrder"></micro-label>
                        </div>

                        <div class="col-md-9">

                            <input asp-for="@Model.DisplayOrder" type="number" class="form-control" />
                            <span class="text-danger" asp-validation-for="@Model.DisplayOrder"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-bs-target="#createproductimage-modal" data-bs-toggle="modal">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>