@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products
@model PublicWeb.Areas.Administration.Models.Catalog.Products.UpdateProductImageModel

@{
    var product = (ProductVM)ViewBag.Product;
}

<div class="modal fade" id="UpdateProductImageModal" aria-hidden="true" tabindex="-1">

    <div class="modal-dialog modal modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update Product Image</h5>
                <button type="button" class="close" data-bs-target="#edit-product-image-modal-${row.id}" data-bs-toggle="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form asp-action="UpdateProductImage" asp-route-id="@product.Id" id="UpdateProductImageForm">
                    @Html.HiddenFor(x=> x.ProductImageId , new {id="UpdateProductImage_Id"})
                    <input type="Hidden" name="ProductImageId" value="@Model.ProductImageId">
                    <div class="form-group row mb-3">
                        <div class="col-md-4 float-sm-left float-md-right">
                            <micro-label asp-for="@Model.DisplayOrder">DisplayOrder</micro-label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="@Model.DisplayOrder" id="UpdateProductImage_DisplayOrder" type="number" class="form-control" />
                            <span class="text-danger"></span>
                        </div>
                    </div>
                </form>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">
                    Update
                </button>
            </div>
        </div>
    </div>
</div>

