@using MicroStore.ShoppingGateway.ClinetSdk.Common;
@using MicroStore.Client.PublicWeb.Areas.Administration.Models.Catalog.Products
@model ProductModel

@{
    var product = ViewBag.Product;

    var updateProductImageModel = new UpdateProductImageModel();

    var deleteProductImageModel = new RemoveProductImageModel();
}
<div class="content-wrapper mr-2">
    <!-- Content Header (Page header) -->


    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        Edit product details - {@Model.Name}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <button class="btn btn-info" id="sumbiteditproductform-btn">
                                <i class="fas
                                fa-plus-square mr-1"></i> Save
                            </button>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="container-fluid">
            <form id="editproduct-form" method="post" asp-action="Edit">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x=> x.Id)
                <partial name="_CreateOrUpdate.Info" model="Model" />
                <partial name="_CreateOrUpdate.Price" model="Model" />
                <partial name="_CreateOrUpdate.Shipping" model="Model" />

            </form>

            <partial name="_CreateOrUpdate.MultiMedia" model="product" />
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/BackEnd/product.edit.js"></script>

    <script>

        $(document).ready(function () {

            $('.summernote').summernote({
                height: 150,
                name: 'LongDescription',
                codemirror: { // codemirror options
                    theme: 'monokai'
                }
            });

            $("#category-select").select2({
                placeholder: 'select product categories'
            });

            editProductObj.init({
                productImageGrid : {
                    id: "productimages-grid",
                    ajax : {
                        url: '@(Url.Action("ListProductImages",new {id = Model.Id}))',
                        dataSrc : 'data',
                        type : 'POST'
                    },

                    columns:[
                        { data: "image", name: 'image' },
                        { data: "displayOrder", name: 'DisplayOrder' },
                        {
                            mRender: function (data, type, row) {
                                return `@{
                                               <div>
                                                    <button type="button" id="edit-product-image-btn-${row.id}" data-bs-toggle="modal" data-bs-target="#edit-product-image-modal-${row.id}" class="btn btn-warning">
                                                        Edit
                                                    </button>

                                                    <div class="modal fade" id="edit-product-image-modal-${row.id}" aria-hidden="true" aria-labelledby="edit-product-image-btn-${row.id}" tabindex="-100">

                                                        <div class="modal-dialog modal modal-dialog-centered">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title">Update Product Image</h5>
                                                                    <button type="button" class="close" data-bs-target="#edit-product-image-modal-${row.id}" data-bs-toggle="modal"
                                                                aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>


                                                                <form asp-action="UpdateProductImage" asp-route-id="@product.Id" onsubmit="editProductObj.updateProductImage(this,event)">
                                                                    <div class="modal-body">
                                                                              <input type="Hidden" name="ProductImageId" value="${row.id}">
                                                                            <div class="form-group row mb-3">
                                                                                <div class="col-md-4 float-sm-left float-md-right">
                                                                                    <micro-label asp-for="@updateProductImageModel.DisplayOrder"></micro-label>
                                                                                </div>

                                                                                <div class="col-md-8">
                                                                                   <input name="DisplayOrder" value="${row.displayOrder}" type="number" class="form-control" />
                                                                                   <span class="text-danger" asp-validation-for="@updateProductImageModel.DisplayOrder"></span>
                                                                                </div>
                                                                            </div>



                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="submit" class="btn btn-primary" data-bs-target="#edit-product-image-modal-${row.id}"
                                                                    data-bs-toggle="modal">
                                                                            Update
                                                                        </button>
                                                                    </div>
                                                                </form>


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                 }`
                            },
                        },

                        {
                            mRender: function (data, type, row) {

                                return `
                                        @{
                                            <form asp-action="RemoveProductImage" asp-route-id="@product.Id"  onsubmit="editProductObj.deleteProductImage(this,event)" >
                                                  <input type="hidden" name="ProductImageId" value="${row.id}">
                                                  <input type="submit" class="btn btn-danger" value="delete">
                                            </form>
                                        }`
                            }
                        },
                    ]
                }
   
            })
        })
    </script>
   
}

