@model MicroStore.IdentityProvider.Identity.Application.Models.RoleModel
<abp-card>
    <abp-card-header>
        <abp-card-title>
            <i class="fas fa-info mr-1 text-lightblue"></i>  Role Info
        </abp-card-title>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus text-lg"></i></button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <div class="text-center mb-3">
            @Html.ValidationSummary()
        </div>
        <abp-row class="mb-3">
            <abp-column size-sm="_3" class="text-right">
                <micro-label asp-for="@Model.Name"></micro-label>
            </abp-column>
            <abp-column size-sm="_9">
                <input asp-for="@Model.Name" id="name" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.Name"> </span>               
            </abp-column>
        </abp-row>
        <abp-row class="mb-3">
            <abp-column size-sm="_3" class="text-right">
                <micro-label asp-for="@Model.Description"></micro-label>
            </abp-column>
            <abp-column size-sm="_9">
                <input asp-for="@Model.Description" id="name" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.Description"> </span>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>

