@model MicroStore.Client.PublicWeb.Areas.Administration.Models.Billing.PaymentRequestVM

<abp-card>
    <abp-card-header>
        <abp-card-title class="text-lg"> Payment Request Info</abp-card-title>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus text-lg"></i>
            </button>
        </div>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="form-group mb-2 ">
            <abp-column size=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Id"  />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div >
                    @Model.Id
                </div>
            </abp-column>
        </abp-row>
           <abp-row class="form-group mb-2">
            <abp-column size=_3>

                <div class="float-right">
                    <micro-label asp-for="@Model.OrderId"  />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div >
                   <a asp-action="Details" asp-controller="Order" asp-route-id=@Model.OrderId>@Model.OrderId</a>
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.OrderNumber" />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div >
                    <a asp-action="Details" asp-controller="Order" asp-route-id=@Model.OrderId>@Model.OrderNumber</a>
                  
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.UserId"  />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div >
                    @Model.UserId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.TransctionId"  />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div>
                    @Model.TransctionId
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.PaymentGateway"  />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div >
                    @Model.PaymentGateway
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Status" />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div>
                    @Model.Status
                </div>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-2">
            <abp-column size=_3>
                <div class="float-right">
                    <micro-label asp-for="@Model.Description"  />
                </div>
            </abp-column>
            <abp-column size=_9>
                <div >
                    @Model.Description
                </div>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>
