@using MicroStore.Client.PublicWeb.Components.PaginatorWidget;
@using MicroStore.Client.PublicWeb.Components.ProductListWidget
@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Grid
@model ProductListWidgetModel

@{
    var pagingOptions = new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "24 Products Per Page",
            Value = "24",
            Selected = Model.Pager.PageSize == 24,
        },
        new SelectListItem
        {
            Text = "50 Products Per Page",
            Value = "50",
            Selected = Model.Pager.PageSize == 50,
        },
        new SelectListItem
        {
            Text = "100 Products Per Page",
            Value = "100",
            Selected = Model.Pager.PageSize == 100,
        },
    };
}
<div class="collection-product-wrapper">
    <div class="product-wrapper-grid product-m no-arrow">
        <div class="row margin-res">
            @foreach (var product in Model.Products)
            {
                var productName = product.Name;
                var productImage = product.Images?.OrderBy(x => x.DisplayOrder)
                .FirstOrDefault()?.Image ?? @"/user-content/no-image.png";
                var productsku = product.Sku;
                var productPrice = product.Price.ToString("C", new CultureInfo("en-US"));
                bool isItemInBasket = Model.UserBasket.Items?.Any(x => x.ProductId == product.Id) ?? false;
                var quantityBoxClass = isItemInBasket ? "open" : "";

                <div class="col-xl-4 col-6 col-grid-box">
                    <div class="product-box product-wrap" style="width: 100%; display: inline-block;" data-product-id="@product.Id">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="/Products/Details/@product.Id">
                                    <img src="@productImage" class="blur-up lazyload bg-img" alt="" width="300" height="300" >
                                </a>
                            </div>
                            <div class="addtocart_btn">
                                <button class="add-button add_cart" title="Add to cart" tabindex="0">
                                    Add to Cart
                                </button>
                                <div class="qty-box cart_qty @quantityBoxClass">
                                    <div class="input-group">
                                        <button type="button" class="btn quantity-left-minus" data-type="minus"
                                                data-field="" tabindex="0">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                                        <input type="text" class="form-control input-number qty-input" value="1"
                                               tabindex="0" disabled>
                                        <button type="button" class="btn quantity-right-plus" data-type="plus"
                                                data-field="" tabindex="0">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-detail text-center">
                            <a href="/Products/Details/@product.Id" tabindex="0">
                                <h6>@productName</h6>
                            </a>
                            <h4>@productPrice</h4>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>

    <div class="product-pagination mt-3">
        <div class="theme-paggination-block">
            @await Component.InvokeAsync(typeof(PaginatorWidgetViewComponent), new {model = Model.Pager} )
        </div>
    </div>
</div>
