@model MicroStore.IdentityProvider.Identity.Application.Models.UserModel
<abp-card>
    <abp-card-header>
        <abp-card-title>
            <i class="fas fa-info mr-1 text-lightblue"></i> User Info</p>
        </abp-card-title>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="form-group mb-3">
            <abp-column size-sm="_3" class="text-right">
                <micro-label asp-for="@Model.GivenName"> </micro-label>
            </abp-column>
            <abp-column size-sm="_9">
                <input asp-for="@Model.GivenName" id="name" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.GivenName">  </span>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-3">
            <abp-column size-sm="_3" class="text-right">
                <micro-label asp-for="@Model.FamilyName"></micro-label>
            </abp-column>
            <abp-column size-sm="_9">
                <input asp-for="@Model.FamilyName" id="name" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.FamilyName">  </span>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-3">
            <abp-column size-sm="_3" class="text-right">
                <micro-label asp-for="@Model.Email"></micro-label>
            </abp-column>
            <abp-column size-sm="_9">
                <input asp-for="@Model.Email" id="name" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.FamilyName">  </span>
            </abp-column>
        </abp-row>
        <abp-row class="form-group mb-3">
            <abp-column size-sm="_3" class="text-right">
                <micro-label asp-for="@Model.PhoneNumber"></micro-label>
            </abp-column>

            <abp-column size-sm="_9">
                <input asp-for="@Model.PhoneNumber" id="ShortDescription" class="form-control" />
                <span class="text-danger" asp-validation-for="@Model.PhoneNumber"> </span>
            </abp-column>
        </abp-row>
    </abp-card-body>
</abp-card>

