@page
@using MicroStore.Client.PublicWeb.Utils
@using MicroStore.ShoppingGateway.ClinetSdk.Entities.Orderes
@using System.Globalization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Pagination
@model MicroStore.Client.PublicWeb.Pages.Orders.IndexModel
@{
    var selectList = new List<SelectListItem>();
    ViewData["Title"] = "Orders";
    ViewData["ContainerTitle"] = "My Orders";
    ViewData["BreadCrumb.IsMainPage"] = false;
    ViewData["BreadCrumb.Title"] = "Orders";
    ViewData["BreadCrumb.Page"] = "Orders";

    var pager = new PagerModel(100, 10, 1, 10, Url.Page("MyOrders"), "desc");
    string GetOrderStatusCssClass(OrderState currentState)
    {
        string orderStatusCssClass = string.Empty;

        if (currentState == OrderState.Cancelled)
        {
            orderStatusCssClass = "order-error";
        }
        else if (currentState == OrderState.Submited)
        {
            orderStatusCssClass = "order-warning";
        }
        else if (currentState == OrderState.Approved)
        {
            orderStatusCssClass = "order-primary";
        }
        else
        {
            orderStatusCssClass = "order-info";
        }

        return orderStatusCssClass;
    }
}
<abp-container class="mt-3">
    <abp-card>
        <abp-card-body>
            <abp-table border-style="Bordered">
                <thead>
                    <tr>
                        <th>Order Number</th>        
                        <th>Order Status</th>
                        <th>Payment Status</th>
                        <th>Amount</th>
                        <th>Order Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Orders.Count > 0)
                    {
                        @foreach (var order in Model.Orders)
                        {

                            var orderNumber = order.OrderNumber.ToString();

                            var paymentStatus = order.PaymentId != null ? "Paid" : "UnPaid";

                            var paymentStatusCssClass = order.PaymentId != "null" ? "order-error" : "order-success";

                            var orderStatus = order.CurrentState;

                            string orderStatusCssClass = GetOrderStatusCssClass(order.CurrentState);

                            var submissionDate = order.SubmissionDate.ToString("dd-MM-yyyy");

                            var totaAmount = order.TotalPrice.ToString("C", new CultureInfo("en-US"));

                            <tr>
                                <td><a asp-page="/Orders/Details" asp-route-id="@order.Id">@FormatHelper.FormatOrderNumber(orderNumber)</a></td>
                                <td class="@orderStatusCssClass">@orderStatus</td>
                                <td class="@paymentStatusCssClass">@paymentStatus</td>
                                <td>@totaAmount</td>
                                <td>@submissionDate</td>
                                <td><a asp-page="/Orders/Details" asp-route-id="@order.Id"><i class="fa fa-eye text-theme"></i></a></td>

                            </tr>
                        }
                    }
                </tbody>

            </abp-table>
            <div class="theme-paggination">
                @if (Model.Pager != null)
                {
                    <abp-paginator model="@Model.Pager" show-info="true"></abp-paginator>
                }
              
            </div>
        </abp-card-body>
    </abp-card>
</abp-container>