@using MicroStore.Client.PublicWeb.Components.OrderWidget
@model OrderWidgetViewModel

<abp-row>
    @foreach (var order in Model.Orders)
    {
        <abp-column size=_12>
            <abp-card>
                <abp-card-header>
                    <abp-row>
                        <abp-column size="_3">
                            <h5 class="d-block text-uppercase">Order Date</h5>
                            <h5 class="d-block">@order.SubmissionDate</h5>
                        </abp-column>
                        <abp-column size="_3">
                            <h5 class="d-block text-uppercase">Order NO</h5>
                            <h5 class="d-block">@order.OrderNumber</h5>
                        </abp-column>
                        <abp-column size="_3">
                            <h5 class="d-block text-uppercase">Order Status</h5>
                            <h5 class="d-block">@order.CurrentState</h5>
                        </abp-column>
                    </abp-row>

                </abp-card-header>
                @foreach (var item in order.Items)
                {
                    <abp-card-body>
                        <abp-row>
                            <abp-column size=_12 class="mb-2">
                                <h3>@(order.PaymentId != null ? "PAID" : "NOT PAID")</h3>
                            </abp-column>

                            <abp-column>
                                <abp-row>
                                    <abp-column size=_3 class="overflow-hidden">
                                        <img class="w-75" src="@(item.Thumbnail ?? "/user-content/no-image.png")" />
                                    </abp-column>
                                    <abp-column size=_6>
                                        <a asp-page="ProductDetails" asp-route-id="@item.ExternalProductId">
                                            <div><strong class="text-dark">@item.Name</strong></div>
                                            <div><em class="text-secondary">@item.Sku</em></div>
                                        </a>
                                        <div class="mt-3">
                                            <abp-button icon="fas fa-cart-plus" class="btn btn-warning buy-again" text="Buy Again" data-product-id="@item.ExternalProductId"></abp-button>
                                        </div>
                                    </abp-column>
                                    <abp-column size=_3>
                                        <div class="mb-3">
                                            <abp-button class="btn btn-light shadow" disabled="true" abp-tooltip-right="Not available yet">
                                                Return Product
                                            </abp-button>
                                        </div>
                                        <div class="mb-3">
                                            <abp-button class="btn btn-light shadow" disabled="true" abp-tooltip-right="Not available yet">
                                                Product Review
                                            </abp-button>
                                        </div>
                                    </abp-column>
                                </abp-row>
                            </abp-column>
                        </abp-row>
                    </abp-card-body>
                }

            </abp-card>
        </abp-column>
    }

    <abp-column>
        <abp-paginator model="Model.Pager" show-info="true"></abp-paginator>
    </abp-column>

</abp-row>